################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Epilog.Collections/.vs/Epilog.Collections
