################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Epilog.Collections/.vs/Epilog.Collections
/Epilog.Collections/binaries
/Epilog.Classification/.vs/Epilog.Classification
/Epilog.Classification/binaries/obj/Epilog.Classification.Contracts
/Epilog.Math/.vs/Epilog.Math
/Epilog.Math/binaries/obj/Epilog.Math
/Epilog.Taggers/.vs/Epilog.Taggers
/Epilog.Taggers/binaries
/Epilog.Text/.vs/Epilog.Text
/Epilog.Text/binaries/obj
